In [20]:
# Dependencies
import numpy as np
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
from matplotlib import style
import time
import glob
style.use('ggplot')

In [13]:
def evaluate_csv_file(filename):
    # read in csv file
    df = pd.read_csv(filename, index_col = 0)
    summary_df = pd.DataFrame({
        "Account": [df['Account Name'][0]],
        "Created": df['Account Created Date'][0],
        "Followers Count": df['Followers Count'][0],
        "Tweets Count": len(df),
        "Start Date": df['Tweet Date'][len(df)-1],
        "End Date": df['Tweet Date'][0],
        "Account Location": df['Account Location'][0]
    })
    summary_df = summary_df[["Account", "Created", "Tweets Count", "Start Date", "End Date",
                         "Followers Count", "Account Location"]]
    return summary_df

In [14]:
summary1 = evaluate_csv_file("201698-2018317-@Coinigy.csv")
summary2 = evaluate_csv_file("2011810-2017915-@btcecom.csv")

In [15]:
summary = pd.concat([summary1, summary2])

In [16]:
summary1
# summary2
summary

,Account,Created,Tweets Count,Start Date,End Date,Followers Count,Account Location
0,Coinigy,Thu Jan 30 23:21:41 +0000 2014,3202,Thu Sep 08 01:01:33 +0000 2016,Sat Mar 17 08:10:13 +0000 2018,17753,"Milwaukee, WI, USA"
0,btcecom,Wed Aug 10 10:29:50 +0000 2011,1220,Wed Aug 10 10:33:57 +0000 2011,Fri Sep 15 20:11:39 +0000 2017,55204,NaN

In [18]:
files = listdir()

In [19]:
files

['.DS_Store',
 '.ipynb_checkpoints',
 '2011810-2017915-@btcecom.csv',
 '20121026-2018316-@bitfinex.csv',
 '20131111-2017117-@itBit.csv',
 '2013519-20171014-@cryptsy.csv',
 '2014211-2017411-@BitcoinSource.csv',
 '201698-2018317-@Coinigy.csv',
 '2017313-2018317-@bisq_network.csv',
 '__pycache__',
 'evaluate_csv_template.ipynb',
 'mydata.py',
 'project_work_file.ipynb',
 'tweets_pull_template.ipynb',
 'TwitterbotKeys.py']

In [21]:
files = glob.glob("*.csv")

In [22]:
files

['2011810-2017915-@btcecom.csv',
 '20121026-2018316-@bitfinex.csv',
 '20131111-2017117-@itBit.csv',
 '2013519-20171014-@cryptsy.csv',
 '2014211-2017411-@BitcoinSource.csv',
 '201698-2018317-@Coinigy.csv',
 '2017313-2018317-@bisq_network.csv']